body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.navbar-brand {
    font-size:3em;
    height:80px;
    padding-top:15px;
}

.container {
    width: 100%
}

div.response {
    display: block;
}

.response span {
    border-radius: 15px;
    display: inline-block;
    height: 21px;
    width: 21px;
    vertical-align: text-top;
}
.btn-obnoxious {
    padding: 10px 16px;
    font-size: 1em;
    line-height: 1.3333333;
    border-radius: 6px;
}
.colorkey {
    display: inline-block;
    height: 20px;
    width: 10px;
    vertical-align: middle;
}
#sample {
    vertical-align:middle;
    width: 600px;
}
#output {
    font-size: 1.5em;
}
label.form-inline {
    font-size: 1.5em;
}
input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-left:4px;
}
.password {
    font-family: 'Courier New', monospace;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 30px;
    }
}