@model List<string>
@{
    ViewData["Title"] = "Get Feedback";
}
<style>
    #aggColorDisplay {
        display:inline-block;
        height:35px;
        width:35px;
        border-radius:25px;
        vertical-align:text-bottom;
    }
</style>
<div class="row" style="height:140px">
    <h2 class="col-xs-12 text-center" style="padding-top:20px">
        <button class="btn btn-obnoxious btn-primary" onclick="checkTwitter()">Get #cfbulbs tweets</button>
    </h2>
</div>
<div class="row key">
    <div class="col-xs-12 text-center">
        <hr />
        <table style="width:100%">
            <tr>
                <td style="text-align:right;width:40%">
                    <h3>Sentiment scale:</h3>
                </td>
                <td colspan="3" style="padding-left:5px;padding-top:10px;text-align:left;width:200px"> 
                    @foreach (var c in Model){<span class="colorkey" style="background-color:#@c"></span>}
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="text-left" style="width:65px">0%</td>
                <td style="width:405px;">50%</td>
                <td class="text-left">100%</td>
                <td></td>
            </tr>
        </table>
        <hr /><br />
        <h2>Aggregate Analysis: Score <span id="aggScore">N/A</span> Color: <span id="aggColor">N/A</span> <span id="aggColorDisplay"></span></h2>
    </div>
</div>
<table id="output" class="response table">
    <thead class="thead-dark"><tr><th>User</th><th>Tweet</th><th style="width:180px">Sentiment score</th><th style="width:150px">Color</th></tr></thead>
    <tbody><tr><td class="text-center" colspan="4">Click the button to get some tweets</td></tr></tbody>
</table>
<script>
    function checkTwitter() {
        $.ajax({
            url: "/twitter/get",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (rsp) {
                $("#output tbody").html("");
                if (rsp.tweets.length == 0) {
                    $("#output tbody").html('<tr><td colspan="4" class="text-center">No tweets found</td></tr>');
                    return;
                }
                $("#aggScore").html(parseFloat(rsp.aggregateScore * 100).toFixed(2) + "%");
                $("#aggColor").html("#" + rsp.aggregateColor);
                $("#aggColorDisplay").css("background-color", "#" + rsp.aggregateColor).css("border", "1px dotted black");
                for (var i = 0; i < rsp.tweets.length; i++) {
                    $("#output tbody").append(
                        "<tr>" +
                        "<td><img src='" + rsp.tweets[i].user.profileImageUrl + "' alt='" + rsp.tweets[i].user.name + "' /><label>" + rsp.tweets[i].user.name + "</label></td>" +
                        "<td><label>" + rsp.tweets[i].fullText + "</label></td>" +
                        "<!--<td>" + rsp.tweets[i].createdAt + "</td>-->" +
                        "<td>" + parseFloat(rsp.tweets[i].sentimentValue * 100).toFixed(2) + "%" + "</td>" +
                        "<td>#" + rsp.tweets[i].hexColor + " <span style= 'background-color:#" + rsp.tweets[i].hexColor + "'></span></td>" +
                        "</tr>");
                }
            }
        });
    }
</script>