@{
    ViewData["Title"] = "Get Feedback";
}
<h2><button class="btn btn-primary" onclick="checkTwitter()">Get #cfsummit tweets</button></h2>
<table class="response table" id="tweets">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Tweet</th>
        <th style="width:180px">Timestamp</th>
        <th>Sentiment</th>
        <th style="width:100px">Color</th>
    </tr>
</table>
<script>
    function checkTwitter() {
        $.ajax({
            url: "/twitter/get",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (rsp) {
                $("#tweets").show();
                for (var i = 0; i < rsp.length; i++) {
                    $("#tweets").append(
                        "<tr>" +
                            "<td><img src='" + rsp[i].user.profileImageUrl + "' alt='" + rsp[i].user.name + "' /></td>" +
                            "<td><label>" + rsp[i].user.name + "</label></td>" +
                            "<td><label>" + rsp[i].fullText + "</label></td>" +
                            "<td>" + rsp[i].createdAt + "</td>" +
                            "<td>" + parseFloat(rsp[i].sentimentValue * 100).toFixed(2) + "%" + "</td>" + 
                            "<td>#" + rsp[i].hexColor + " <span style= 'background-color:#" + rsp[i].hexColor + "'></span></td>" +
                        "</tr>");
                }
            }
        });
    }
</script>