@model List<string>
@{
    ViewData["Title"] = "Get Feedback";
}
<div class="row" style="height:140px">
    <h2 class="col-xs-12 text-center" style="padding-top:20px">
        <button class="btn btn-obnoxious btn-primary" onclick="checkTwitter()">Get #cfsummit tweets</button>
    </h2>
</div>
<div class="row key">
    <div class="col-xs-12 text-center">
        <hr />
        <table style="width:100%">
            <tr>
                <td style="text-align:right;width:40%">
                    <h3>Sentiment scale:</h3>
                </td>
                <td colspan="3" style="padding-left:5px;padding-top:10px;text-align:left;width:200px"> @foreach (var c in Model)
            {<span class="colorkey" style="background-color:#@c"></span>}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="text-left" style="width:65px">0%</td>
                <td style="width:405px;">50%</td>
                <td class="text-left">100%</td>
                <td></td>
            </tr>
        </table>
        <hr />
    </div>
</div>

<table id="output" class="response table">
    <thead class="thead-dark"><tr><th>User</th><th>Tweet</th><th style="width:180px">Sentiment score</th><th style="width:150px">Color</th></tr></thead>
    <tbody></tbody>
</table>
<script>
    function checkTwitter() {
        $.ajax({
            url: "/twitter/get",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (rsp) {
                $("#output tbody").html("");
                for (var i = 0; i < rsp.length; i++) {
                    $("#output tbody").append(
                        "<tr>" +
                        "<td><img src='" + rsp[i].user.profileImageUrl + "' alt='" + rsp[i].user.name + "' /><label>" + rsp[i].user.name + "</label></td>" +
                        "<td><label>" + rsp[i].fullText + "</label></td>" +
                        "<!--<td>" + rsp[i].createdAt + "</td>-->" +
                        "<td>" + parseFloat(rsp[i].sentimentValue * 100).toFixed(2) + "%" + "</td>" +
                        "<td>#" + rsp[i].hexColor + " <span style= 'background-color:#" + rsp[i].hexColor + "'></span></td>" +
                        "</tr>");
                }
            }
        });
    }
</script>