@model List<string>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h2 class="col-xs-12 text-center">
        <button class="btn btn-obnoxious btn-primary" onclick="changeTheBulbColor()">Use CredHub to get a password</button>
    </h2>
</div>
<div class="row key">
    <hr />
    <h5 class="col-xs-12 text-center">
        Password strength scale:
        @foreach(var c in Model) {<span class="colorkey" style="background-color:#@c"></span>}
    </h5>
    <hr />
</div>
<div id="output" class="text-center">

</div>
<script>
    function changeTheBulbColor() {
        $(".key").show();
        $.post("/home/CredHubColorize", function (rsp) {
            $("#output").prepend(
                "<hr /><div class='response'>New password: " + rsp.textInput + " scores " + parseFloat(rsp.sentiment * 100).toFixed(2) + "% and has a color score of #" +
                rsp.hexColor + " <span style='background-color:#" + rsp.hexColor + "'></span>" +
                "</div>");
        });
    }

</script>
