@{
    ViewData["Title"] = "Twitter Observation Deck";
}
<style>
    th, td {
        padding: 3px;
    }
    .aggregate {
        float:right;
    }
    #aggColorDisplay {
        display:inline-block;
        height:35px;
        width:35px;
        border-radius:25px;
        vertical-align:text-bottom;
    }
</style>
<div class="row">
    <h1>
        Welcome to the Twitter observation deck!
        <span id="score" class="aggregate"></span>
    </h1>
    <h2>
        Tweets with #cfsummit will display here as they arrive
        <span id="aggColorDisplay" class="aggregate"></span> <span id="color" class="aggregate"></span>
    </h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="response table" id="messages">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Sentiment</th>
                    <th style="width:100px">Color</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script>
    const connection = new signalR.HubConnection('/observe');
    var messageId = 1;
    connection.on('Messages', (messages) => {
        $.each(messages, function (i, m) {
            $("#messages tbody").prepend(
                "<tr id='message" + messageId + "'><td>" + m.textInput + "</td><td>" +
                (m.sentiment ? parseFloat(m.sentiment * 100).toFixed(2) + "%" : "n/a") + "</td><td>" +
                (m.hexColor ? "#" + m.hexColor + " <span style='background-color:#" + m.hexColor + "'></span>" : "n/a") +
                "</tr></td>"
            );
            //$("#message" + messageId).slideToggle(1000);
            messageId++;
        });
    });
    connection.on("BulkUpdate", (message) => {
        $("#score").html("Latest sentiment score: " + parseFloat(message.item2 * 100).toFixed(2) + "%");
        $("#color").html("Latest color value: #" + message.item1);
        $("#aggColorDisplay").css("background-color", "#" + message.item1);
    });

    function showErr(msg) {
        const listItem = document.createElement('li');
        listItem.setAttribute("style", "color: red");
        listItem.innerText = msg.toString();
        document.getElementById('messages').appendChild(listItem);
    }

    connection.start().catch(err => showErr(err));
</script>