@{
    ViewData["Title"] = "Home Page";
}
<h1><button class="btn btn-primary" onclick="changeTheBulbColor()">CLICK ME</button></h1>
<script>
    function changeTheBulbColor() {
        $.post("/home/CredHubColorize", function (rsp) { alert("new color value: " + rsp) });
    }
</script>